* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edefee;
  font-family: "Lato", sans-serif;
  margin: 3rem 5%;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

header {
  padding: 30px;
}

header > div > img {
  width: 260px;
  height: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  border: 1px solid #d4af37;
  padding: 1rem 2rem;
  position: relative;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 7rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;

  transition: transform 0.5s ease;
  transform-origin: center;
  display: inline-block;
}

.nav-links li a:hover {
  color: #d4af37;
  transform: scale(1.2);
}

.burger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

#promotion {
  background-color: black;
  /* background: linear-gradient(to right, #0c0c0c, #614d19); */
  border: 6px solid #d4af37;
  border-radius: 8px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  max-height: 1000px;
  transition: opacity 2.5s ease-in-out, margin-bottom 1.5s ease,
    max-height 1.5s ease, visibility 0s linear 4s;
}

#promotion.fade-out {
  opacity: 0;
  visibility: hidden;
  margin-bottom: -14rem;
  max-height: 500px;
  transition: opacity 2.5s ease-in-out, margin-bottom 2s ease,
    max-height 2s ease, visibility 0s linear 4s;
}

section {
  display: flex;
  justify-content: center;
}

article {
  flex: 1;
}

#promotion-box {
  background-color: #f9f3f0;
  /* background: linear-gradient(to right, #fceabb, #f8b500); */
  border: 6px solid #d4af37;
  border-radius: 8px;
  color: #333;
  padding: 2rem;
  text-align: center;
  margin: 2rem auto;
  max-width: 800px;
}

#promotion-box p {
  padding-top: 2rem;
  font-size: 18px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  justify-content: center;
  padding: 2rem;
}
.cards {
  flex: 1 1 300px;
  text-align: center;
  justify-items: center;
}

.cards img {
  height: 300px;
  width: 22rem;
  margin: 20px 0 0 0;
  border: 2px solid #d4af37;
  border-radius: 15px;
}

.cards p {
  width: 25rem;
  padding: 10px 25px 80px 25px;
}

footer {
  display: flex;
  font-size: 20px;
  padding: 2rem;
  background-color: #f4f4f4;
}

footer div {
  flex: 1 1 300px;
  margin: 1rem;
}

footer div img {
  width: 200px;
  height: 45%;
}

footer div p {
  text-align: end;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    display: none;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: block;
  }

  footer div img {
    width: 180px;
    height: 25%;
    margin-top: 1.5rem;
  }
}
